@mixin searchBar {
    .search-bar {
        &>* {
            transition: .3s;
        }
        display: flex;
        align-items: center;
        padding: 10px 10px;
        color: white;
        .icon {
            cursor: pointer;
        }
        .del {
            cursor: pointer;
            font-size: 1.3rem;
        }
        input {
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
            width: 0px;
            margin: 0 10px;
            font-weight: 100;
            font-size: 1.1rem;
            &::placeholder {
                font-size: 1rem;
            }
        }
        &.opened {
            background-color: rgb(20,20,20);
            border-bottom: 1px solid red;
            input {
                width: 300px;
            }
        }
    }
}
@mixin sectionTitle {
    .section-title {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: max-content;
        height: 2.5rem;
        margin-bottom: 40px;
        img {
            height: 100%;
            margin-right: 10px;
        }
        h2 {
            border-left: 1px solid red;
            padding-left: 10px;
        }
    }
}
@mixin noContent {
    .no-content {
        color: rgba(255,255,255,0.5);
        font-weight: 300;
        text-align: center;
    }
}